<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <main class="container py-4">
            <section th:replace="~{carrito/fragmentos :: listadoCarrito}"></section>
        </main>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>

