/* ==========================================
   ESTILOS PARA TECHSHOP
   ========================================== */

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main-header {
    margin-top: 0;
}